@import "reset";
@import "icons";

body {
  background-color: #090A0F;
  color: #ffffff;
}

#title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;

  text-align: center;
  font-family: 'lato',sans-serif;
  font-weight: 300;
  font-size: 60px;
  letter-spacing: 10px;

  margin-top: -60px;
  padding-left: 10px;
  z-index: 2;
}

#subtitle {
  @extend #title;
  top: 60%;
  font-size: 25px;

  a {
    color: #ffffff;
    text-decoration: none;
  }
}

#mind {
  display: block;
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 1;
}